<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/gh-profile-card.min.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/donate">Donate</a></li>
      </ul>
    </nav>
    <div class="container">
      
      {{ content }}
      
    </div>
    <!-- /.container -->
    <footer>
      <ul>
        <li><a href="mailto:risoknop@gmail.com">email</a></li>
        <li><a href="https://github.com/RichardKnop">github.com/RichardKnop</a></li>
        <li><a href="https://www.linkedin.com/in/richardknop">www.linkedin.com/in/richardknop</a></li>
        <li><a href="http://twitter.com/richardknop">twitter.com/richardknop</a></li>
      </ul>
    </footer>

    <script src="/scripts/gh-profile-card.min.js"></script>
  </body>
</html>
